$white: #fff;
$dark: #000000;
$primary:#039dff;
$green-color: #00ffaa;

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.7), rgba(8, 24, 255, 0.7));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.7), rgba(42, 10, 184, 0.7));
$purple-gradient: linear-gradient(45deg, rgba(176, 108, 185, 0.75), rgba(68, 0, 255, 0.75));
$red-gradient: linear-gradient(45deg, rgba(176, 108, 185, 0.75), rgba(31, 93, 131, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);