*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #666;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav-desktop {
  display: none;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: rgba(17, 17, 17, 0.95);
  z-index: 100;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: block;
  list-style: none;
  height: 70px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.nav__item--user {
  width: 150px;
}

.nav__item--user:hover {
  cursor: pointer;
  background-color: #212125;
}

.nav__item--user i {
  color: #fff;
  font-size: 3rem;
}

.nav__item--user:hover .nav__dropdown-item {
  display: block;
}

.nav__item--cart {
  margin-left: auto;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.nav__item--cart:hover {
  background-color: #212125;
}

.nav__item--cart a {
  padding: 1em 1em;
}

.nav__item a {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__item--logo a {
  padding: 1em;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav__item a {
  color: #fff;
  text-decoration: none;
}

.nav__dropdown {
  position: absolute;
  width: 150px;
}

.nav__dropdown-item {
  display: none;
  opacity: 0;
  background-color: #212125;
}

.nav__item--user:hover .nav__dropdown-item {
  display: block;
  -webkit-animation: showMenuItem .5s forwards;
          animation: showMenuItem .5s forwards;
}

.nav__item--user:hover .nav__dropdown-item:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.nav__item--user:hover .nav__dropdown-item:nth-child(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.nav__item--user:hover .nav__dropdown-item:nth-child(3) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.nav__item--user:hover .nav__dropdown-item:nth-child(4) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

@-webkit-keyframes showMenuItem {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes showMenuItem {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  .nav__item--user {
    width: 200px;
  }
  .nav__item--cart a {
    padding: 1em 2em;
  }
  .nav__item--logo a {
    padding: 1em 3em;
  }
  .nav__dropdown {
    position: absolute;
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
  .nav__item {
    color: #fff;
  }
  .nav__item--logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .nav__item--logo span {
    font-size: 2.5rem;
  }
  .nav__item--logo i {
    margin-right: 5px;
    font-size: 30px;
  }
  .nav__item--cart:hover {
    background-color: transparent;
  }
  .nav__item a:hover {
    color: #4169E1;
  }
}
/*# sourceMappingURL=nav.css.map */