*{
    margin: 0;
    padding: 0;
    
}

.body{
   
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #0d3d56 ;
   
}

.inner_header{
    width: 850px;
    height: 100%;
    display: block;
    margin: auto;
   
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 60px;
}

.navigation{
    float: right;
    height: 100%;
    

}
.navigation a{
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
        padding-top: 25px;
        

}

.navigation a:last-child{
    padding-right: 0;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Ubuntu';
    font-size: 25px;
}

.buttons :active, :visited, :link{
    text-decoration: none;
}

.buttons :hover{
    color: #cd594a;
}

.ticket_top{
    width: 40%;
    height: 50px;
    display: block; 
    background-color: #0d3d56;
    border-radius: 25px 25px 0 0;
    margin: auto;
    margin-top: 100px; 
    
    
}

.ticket_top li{
    font-family: 'Montserrat';
    font-size: 30px;
    color: white;
    margin: auto;
    width: 350px;
    padding-left: 80px;
    padding-top: 5px;
    display: table-cell;
}

.ticket_top{
    box-shadow: none;
}

.ticket_top :hover, .alignn:active {
    box-shadow: inset 0 0 10px orangered;
    border-radius: 25px;
    
}


.ticket_bottom{
    width: 40%;
    height: 650px;
    margin: auto;
    display: block; 
    background-color: #0d3d56;
    border-radius: 0 0 25px 25px; 
}


.ticket_bottom input{
    height: 35px;
    width: 450px;
    margin-top: 25px;
    margin-left: 80px;
    border-radius: 8px 8px 8px 8px;
    font-size: 20px;
}

.button{
    height: 40px;
    width: 450px;
    margin-top: 25px;
    margin-left: 80px;
    border-radius: 8px 8px 8px 8px;
    display: table;
    background-color:   orangered;
    color: white;
    font-family: 'Permanent Marker';
    font-size: 25px;
}

.ticket_bottom p{
    margin-top: 100px;
    margin-left: 50px;
    color: white;  
    font-family: 'Ubuntu';
    
    
}


.alignn :hover {
    box-shadow: inset 0 0 10px red;

}

.referrence{
    width: 80%;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 25px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
    background-image: url("../ImagesPLane/istockphoto-1222059389-1024x1024\ \(1\).png");
    background-size: cover;
    box-shadow: none;
    
}



.referrence li{
    
    display: table-cell;
    color: #0d3d56;
    padding-left: 60px;
    padding-top: 10px;
    width: 450px;
    font-family: 'Montserrat';
    font-size: 25px;
    box-shadow: none;
    
}

.credits{
    width: 100%;
    height: 80px;
    display: block;
    background-color: white;
    margin: auto;
    margin-top: 250px;
   
}

.credits h1{
    font-family: 'Permanent Marker';
    font-size: 55px;
    text-align: center;
}
