*{
    margin: 0;
    padding: 0;
}
/*body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/

.footer{
    height: 120px;
    width: 100%;
    background-color: black;
    color: wheat;
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    padding-top: 15px;
}

.footer-title{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 20px;
}

.plane-logo{
    width: 100px;
    margin-left: 10px;
    display: inline-block;
}

.header {
    background-color: black;
    color: white;
    width: 100%;
    /*text-align: left;*/
    padding: 30px 0px 30px 0px;
}

.header-link :active, :visited, :link{
    color: white;
    text-decoration: none;
    padding-left: 70px;
}
.header-link :hover{
    color: rgb(153, 150, 150);
}

h1{
    display: inline-block;
    font-family: 'Montserrat';
    
}

.padding-left{
    padding-left: 30%;
}

.blend{
    position: relative;
    background: linear-gradient(45deg, #428CD4, #FF9CDA, #ffc99c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 800px;
    height: 70px;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.under-blend{
    width: 800px;
    height: 250px;
    background-color: rgb(208, 208, 208);
    margin:auto;
    border-radius: 0px 0px 20px 20px;
    z-index: -1;
}

.ticket{
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    width: 800px;
    height: 320px;
    box-shadow: 0px 0px 5px 5px rgb(184, 183, 183);
    z-index: -1;
}
.ticket:hover{
    border:2px groove rgb(110, 107, 107);
    border-radius: 22px;
    transition: 0.1s;
}



/*.blend, .under-blend{
    border: rgb(151, 151, 151);
    border-width: 3px;
    border-style: solid;
}
*/
.location-sign{
    position:absolute;
    top: 12px;
    left: 10px;
    width: 45px;
}

h2{
    position: absolute;
    padding: 20px;
    padding-left: 50px;
    font-size: 30px;
}

.text-under{
    margin-top: 25px;
    width: 270px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;;
}
.text-under1{
    margin-top: 110px;
    font-family: sans-serif;
}

.text-under2{
    width: 270px;
    text-align: center;
    margin-top: 160px;
    font-family: sans-serif
}

.text{
    width: 400px;
    height: 240px;
    border-right: 2px solid rgb(179, 179, 179);
}

.price{
    margin-left: 520px;
    margin-top: 50px;
}
.button{
    width: 150px;
    height: 40px;
    margin-left: 525px;
    margin-top: 130px;
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
    border: none;
}

.button:hover{
    background-color: rgb(224, 75, 0);
    border: 2px solid rgb(94, 94, 94);
    transition: 0.6s;
}

